
.head{
	width: 100%;
	height: 150px;
	border: 1px solid blue;
}
.daohang{
	width: 100%;
	height: 50px;
	border: 1px solid red;
}

	
ul{
	list-style-type:none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
li{
	float:right;
}
li a {
    display: block; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: blanchedalmond;
}

